# env
.env
.env.prod

# python
__pycache__/
*.pyc
*.pyo
.pytest_cache/
*.egg-info/
.venv/

# node
node_modules/
.next/
out/
**/.pnpm-store/

# ide
.vscode/
.idea/
*.swp
*.swo

# os
.DS_Store
Thumbs.db

# docker
postgres_data/
**/.pnpm-store*
.claude
sdlc.md
step.md
task.md
writeup.md 
ba.md